<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @{Html.RenderAction("NavigationMenu", "Menu", new { area = "" });}
                @if (User.Identity.IsAuthenticated) { 
                    <a style="float:right;" href="@Url.Action("LogOut", "Account", new { area = ""})">Log Out</a> 
                }
               
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
        
    </div>
    

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
