@model PurpleBricksDemo.Web.Models.Account.LogOnViewModel

@{
    ViewBag.Title = "LogOn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-5">
        <h2>LogOn</h2>
        @using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new { id = "validate" }))
        {
            <fieldset>
                <div class="form-group">
                    @Html.TextBoxFor(z => z.Username, new { @class = "form-control", @placeholder = "Username", @required = "required" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(z => z.Password, new { @class = "form-control", @placeholder = "Password", @required = "required" })
                    @Html.ValidationSummary()
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(z => z.RememberMe)@Html.LabelFor(z => z.RememberMe)
                    </label>
                </div>
                <br>
                <button class="btn btn-lg btn btn-block">Sign In</button>
            </fieldset>
        }
        <a href="@Url.Action("CreateUser")">Create New user</a>
    </div>
    
</div>
